<form name="addmenu" ng-submit="addmenu_submitted()" novalidate>
	<div class="form-group">
		<input class="form-control" type="text" name="name" ng-model="menu.name" required/>
	</div>
	<div class="form-group">
		<input class="form-control" type="number" name="price" ng-model="menu.price" required/>
	</div>
	<button class="btn btn-primary" type="submit" ng-disabled="addmenu.$invalid">เพิ่มเมนู</button>
</form>